.btn-form {
    background-color: inherit;
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    margin-top: 55px;
}
.btn-form:hover {
    color: #1257a0;
}
.btn {
    background: #1257a0;
    border: 1px solid #1257a0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    cursor: pointer;
    transition: color .1s ease;
  }
  .btn:hover {
    background: #1568c2;
  }
  .btn-close {
    color: #1257a0;
    font-size: 30px;
    text-decoration: none;
    padding:10px;
    position: absolute;
    right: 7px;
    top: 0;
  }
  .btn-close:hover {
    color: #333;
  }
  .modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.562);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .opened:before {
    display: block;
  }
  .opened .modal-dialog {
    transform: translate(0, 0);
    top: 20%;
  }
  .modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    text-align:center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 450px;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
  }
  .modal-body {
    padding: 20px;
  }
  .modal-body input{
    width:200px;
    padding:8px;
    border:1px solid #ddd;
    color:#888;
    outline:0;
    font-size:14px;
    font-weight:bold;
    margin-top: 10px;
  }
  .modal-header,
  .modal-footer {
    padding: 15px 20px;
  }
  .modal-header {
    border-bottom: #eeeeee solid 1px;
  }
  .modal-header h2 {
    font-size: 20px;
  }