body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: top center;
}

.dark-theme {
  color: #f2f2f2;
  background-color: #080208;
  background-image: url("img/hero-bg_d.jpg");
}

.light-theme {
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("img/hero-bg_l.jpg");
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.dark-theme .page-header a {
  color: #fea18d;
}

.light-theme .page-header a {
  color: #288be6;
}

.dark-theme .header-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.light-theme .header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header_l.svg");
}

.dark-theme .header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone.svg");
}

.light-theme .header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  float: right;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.dark-theme .theme-btn {
  border-color: #d447e0;
  color: #fff;
  box-shadow: 0 0 40px 40px #d447e0 inset, 0 0 0 0 #d447e0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.dark-theme .theme-btn:hover {
  box-shadow: 0 0 10px 0 #d447e0 inset, 0 0 10px 4px #d447e0;
}

.light-theme .theme-btn {
  border-color: #35e6ec;
  color: #288be6;
  box-shadow: 0 0 40px 40px #35e6ec inset, 0 0 0 0 #35e6ec;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.light-theme .theme-btn:hover {
  box-shadow: 0 0 10px 0 #35e6ec inset, 0 0 10px 4px #35e6ec;
}

.dark-theme .hero-image {
  margin-bottom: 480px;
}

.light-theme .hero-image {
  margin-bottom: 620px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.dark-theme .heading {
  margin: 0 0 24px;
  font-size: 80px;
  line-height: 96px;
}

.light-theme .heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}


.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.dark-theme .subheading {
  margin: 0 0 56px;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}

.light-theme .subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  border-radius: 8px;
}

.dark-theme .level {
  background-color: #080208;
  border: 1px solid #712073;
}

.light-theme .level {
  background-color: #ffffff;
  border: 1px solid #86c3fa;
}

.level div {
  margin: 1px;
  height: 12px;
  border-radius: 6px;
}

.dark-theme .level div {
  background-color: #fea18d;
}

.light-theme .level div {
  background-color: #288be6;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.dark-theme .button {
  background-color: #712073;
  color: #ffffff;
}

.light-theme .button {
  background-color: #288be6;
  color: #ffffff;
}

.dark-theme .page-footer {
  padding: 40px 0;
  background-color: #260c26;
}

.light-theme .page-footer {
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.dark-theme .page-footer a {
  color: #fea18d;
}

.light-theme .page-footer a {
  color: inherit;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone.svg");
}